@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

.attribution {
  font-size: 14px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(30, 38%, 92%);
}

h6,
button,
p {
  font-family: 'Montserrat',
    sans-serif;
}

h1 {
  font-family: 'Fraunces';
  font-weight: 700;
}

p,
h6 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  align-items: center;
  padding: 0 30%;
}

card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

card .left-side .img_desk {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
}

card .left-side .img_mbl {
  display: none;
}

card .right-side {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
}

card .right-side h6 {
  color: hsl(228, 12%, 48%);
  letter-spacing: 5px;
  margin-bottom: 15px;
}

card .right-side h1 {
  color: hsl(212, 21%, 14%);
  margin-bottom: 15px;
  line-height: 30px;
}

card .right-side p {
  color: hsl(228, 12%, 48%);
  line-height: 25px;
}

card .right-side .price {
  display: flex;
}

card .right-side .price h1 {
  color: hsl(158, 36%, 37%);
}

card .right-side .price s {
  color: hsl(228, 12%, 48%);
  margin-left: 20px;
  margin-top: 6px;
  margin-bottom: 25px;
}

button {
  display: flex;
  justify-content: center;
  background-color: hsl(158, 36%, 37%);
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: hsl(158, 36%, 28%);
}

button img {
  margin-right: 10px;
}



@media screen and (max-width: 583px) {
  .container {
    padding: 20px 10px;
  }

  card {
    display: flex;
    flex-direction: column;
  }

  card .left-side .img_mbl {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
  }

  card .left-side .img_desk {
    display: none !important;
  }

  card .right-side {
    padding: 5% 30px;
  }

}